APP_NAME=ms-gofiber
APP_ENV=local
APP_HOST=0.0.0.0
APP_PORT=8080
APP_READ_TIMEOUT_SEC=10
APP_WRITE_TIMEOUT_SEC=10

# SQLite
SQLITE_PATH=data/ms-gofiber.db

# Redis
REDIS_ADDR=localhost:6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_DEFAULT_TTL_SEC=60

# Elastic APM (dibaca otomatis oleh agent)
ELASTIC_APM_SERVER_URL=http://localhost:8200
ELASTIC_APM_SERVICE_NAME=ms-gofiber
ELASTIC_APM_ENVIRONMENT=local
ELASTIC_APM_API_KEY=
ELASTIC_APM_SECRET_TOKEN=
ELASTIC_APM_VERIFY_SERVER_CERT=true
ELASTIC_APM_RECORDING=true
